@import './css/reset.css';


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
/* stylelint-enable */

body {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  overscroll-behavior: none;
  background-color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

canvas {
  display: block;
}

h1 {
  display: none;
  justify-items: center;
  z-index: 1;
  font-family: halyard-display, sans-serif;
  font-weight: 200;
  font-style: normal;
  overscroll-behavior: none;
  font-size: 6rem;
  position: absolute;
  margin-top: 37vh;
  margin-left: 35vw;
}

span {
  font-family: halyard-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  overscroll-behavior: none;
}
